:root {
  /* Primary Colors */
  --clr--pink: hsl(322, 100%, 66%);
  --clr--light-pink: hsl(321, 100%, 78%);
  --clr--light-red: hsl(0, 100%, 63%);
  --clr--white: 

  /* Neutral Colors */
  --clr--very-dark-cyan: hsl(192, 100%, 9%);
  --clr--very-pale-blue: hsl(207, 100%, 98%);
}
