.huddle__main {
  min-height: 100vh;
  display: grid;
  gap: 3rem;

  @media only screen and (min-width: 992px) {
    width: 100%;
    justify-items: center;
  }
  &_header,
  &_body {
    width: 100%;
    max-width: 1400px;
    display: grid;
    justify-items: center;
  }
  &_header,
  &_body {
    padding: 2rem;
  }
}
