.huddle__main {
  min-height: 100vh;
  max-width: 1440px;
  display: grid;
  gap: 3rem;
  padding: 2rem;

  @media only screen and (min-width: 992px) {
    max-width: 1400px;
  }
  &_header,
  &_body,
  &_footer {
    width: 100%;
    display: grid;
    justify-items: center;
  }
}
