@mixin grid-horizintally-center {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 1rem;
}

@mixin grid-horizintally-left {
  display: grid;
  justify-items: left;
  text-align: left;
  gap: 1rem;
}
