@use "../util/" as u;

.huddle__main {
  &_body {
    &_content {
      @include u.grid-horizintally-center;
      gap: 5rem;

      &_grow,
      &_flow,
      &_users {
        h2 {
          font-weight: var(--fw--very-bold);
        }
        display: grid;
        gap: 1rem;
      }
    }
  }
}
