.huddle__main {
  &_footer {
    .curve-section {
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    &_content {
      width: 100%;
      background-color: var(--clr--very-dark-cyan);
    }
  }
}
