@use "../util/" as u;

.huddle__main {
  &_footer {
    .curve-section {
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    &_content {
      display: grid;
      padding-top: 5rem;
      width: 100%;
      background-color: var(--clr--very-dark-cyan);

      & > * {
        padding: 2rem;
      }

      &_newsletter {
        display: grid;
        justify-items: start;
        gap: 1rem;
        color: var(--clr--white);
        text-align: left;
        form {
          display: grid;
          gap: 1rem;
          width: 100%;
          max-width: 500px;

          input,
          button {
            max-height: 50px;
          }

          input {
            display: block;
            width: 100%;
            border: none;
            padding: 0.8rem;
            border-radius: 0.3rem;
          }
          button {
            @include u.getStarted-btn;
            padding: 0.8rem;
            border-radius: 0.3rem;
            width: 50%;
            margin-left: auto;
          }
        }
      }

      &_contacts {
        display: grid;
        gap: 1rem;
        text-align: left;
        color: var(--clr--white);

        .logo-footer {
          height: 30px;
        }

        .flex-group {
          div {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 1rem;

            img {
              width: 30px;
              height: 27px;
            }
          }
        }
      }
    }

    .social-media {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;

      a {
        text-decoration: none;
        i {
          cursor: pointer;
          text-decoration: none;
          font-size: 36px;
          color: var(--clr--white);
          height: 38px;
          width: 38px;

          &:hover {
            color: var(--clr--neon-blue);
          }
        }
      }
    }

    footer {
      width: 100%;
      background-color: var(--clr--very-dark-cyan);
    }

    @media only screen and (min-width: 992px) {
      width: 100%;
      display: grid;
      justify-items: center;

      .curve-section {
        width: 100%;
      }
      &_content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;

        article {
          padding: 2rem;
          max-width: 700px;
        }

        &_newsletter {
          max-height: 250px;
          justify-items: start;

          h3 {
            font-size: 1.5rem;
          }

          p {
            width: 50%;
          }
          form {
            max-width: 100%;
            display: flex;
          }
        }

        &_contacts {
          display: grid;
          gap: 1rem;
          p {
            width: 50%;
          }
          .flex-group {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
