@use "../util/" as u;

.huddle__main {
  &_footer {
    .curve-section {
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    &_content {
      width: 100%;
      background-color: var(--clr--very-dark-cyan);

      & > * {
        padding: 2rem;
      }

      &_newsletter {
        display: grid;
        gap: 1rem;
        color: var(--clr--white);
        text-align: left;
        form {
          display: grid;
          gap: 1rem;

          input {
            display: block;
            width: 100%;
            border: none;
            padding: 0.8rem;
            border-radius: 0.3rem;
          }
          button {
            @include u.getStarted-btn;
            padding: 0.8rem;
            border-radius: 0.3rem;
            width: 50%;
            margin-left: auto;
          }
        }
      }

      &_contacts {
        display: grid;
        gap: 1rem;
        text-align: left;
        color: var(--clr--white);

        .logo-footer {
          height: 30px;
        }

        .flex-group {
          div {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 1rem;

            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }

    .social-media {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      a {
        text-decoration: none;
        i {
          text-decoration: none;
          font-size: 36px;
          color: var(--clr--white);
          height: 38px;
          width: 38px;
        }
      }
    }

    footer {
      background-color: var(--clr--very-dark-cyan);
    }
  }
}
