@use "../util/" as u;

.huddle__main {
  &_header {
    justify-items: center;
    gap: 2rem;

    &_nav {
      width: 100%;
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      align-items: center;

      img {
        width: 120px;
        height: 25px;
      }
      button {
        color: var(--clr--light-pink);
        padding: 0.5rem 1.5rem;
        text-decoration: none;
        border: none;
        background-clip: padding-box;
        overflow: hidden;
        border-radius: 1.2rem;
        background-color: var(--clr--white);
        overflow: hidden;
        border: 1.5px solid var(--clr--light-pink);
        cursor: pointer;
      }
    }
    &_info {
      padding: 1rem;
      @include u.grid-horizintally-center;

      button {
        @include u.getStarted-btn;
      }
    }

    &_stats {
      @include u.grid-horizintally-center;
      ul {
        width: 50%;
        display: grid;
        margin-bottom: 3rem;
        img {
          width: 40px;
        }
        h2 {
          font-size: 5rem;
          font-weight: var(--fw--very-bold);
        }
        p {
          opacity: 0.7;
        }
      }
    }

    @media only screen and (min-width: 992px) {
      gap: 5rem;

      &_nav {
        img {
          width: 170px;
          height: 30px;
        }
      }

      &_info {
        gap: 2rem;
        h1 {
          font-family: var(--ff--headings);
          font-size: 2.5rem;
        }
        p {
          width: 40%;
        }
      }
      &_stats {
        .flex-group {
          width: 100%;
          display: flex;
          justify-content: space-between;

          ul {
            @include u.grid-horizintally-left;
            gap: 0;

            h2 {
              font-family: var(--ff--headings);
              font-size: 6rem;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
